/** {
  outline: 1px solid red !important;
}*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: black;
}

input {
  background: grey;
  font-size: 18px;
}

form {
  display: inline-block;
}

.centered {
  text-align: center;
}

#pizzaSize {ß
  font-weight: 800;
}

.mover {
  position: fixed;
  width: 256px;
  z-index: -1;
  transform: translate3d(0,0,0); /**(src: https://www.smashingmagazine.com/2012/06/play-with-hardware-accelerated-css/) according to this tricking the browser into thinking the page is 3D is a perf boon*/
  will-change: transform; /**Added will-change styles to hint the browser as to what to expect and prevent continuous painting of pizzas*/
}

.randomPizzaContainer {
  float: left;
  display: flex;
}

.randomPizzaContainer:after {
  content: "";
  display: table;
  clear:both;
}



 .container {
  background-color: rgba(240, 60, 60, 0.8);
}